main {
    justify-content: space-between;
    width: 100%;
}

.projects {
    display: flex;
    margin-top: 5vw;
    justify-content: space-between;
}

.projects h2 {
    margin: 2vw 0 2vw 0;
}

.latest {
    margin-top: 3vh;
    width: 100%;
    box-sizing: border-box;
    --project-bg: var(--clr-bg6);
    --project-hover-bg: var(--clr-bg3);
}

.project-info {
    background-color: var(--clr-bg3);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw;
    gap: 4vh;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 15px var(--clr-bg2);
}

.project-info h2 {
    margin: 0;
    align-self: center;
    text-align: center;
}

.project-info p {
    margin: 0;
}

.project-title {
    display: flex;
    align-self: center;
    text-align: center;
    flex-direction: row;
    gap: 2vw;
}

.big-project-image {
    margin-right: 0px;
    max-width: 200px;
}

.mr-bg {
    --project-bg: #234d40;
    --project-hover-bg: #295446;
}

.cf-bg {
    --project-bg: #322e51;
    --project-hover-bg: #3b375b;
}

.download-color {
    color: #03ec8b;
}

/* Responsive Styles */
@media (max-width: 850px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .projects {
        flex-direction: column;
    }

    .project-info {
        width: 85vw;
        padding: 5vw;
        align-self: flex-start;
    }

    .big-project-image {
        margin-right: 0px;
        max-width: 30vw;
    }

    .project-info img {
        margin-left: 5vw;
    }

    .project-info div{
        margin-right: 5vw;
    }
}