main {
    justify-content: space-between;
    width: 100%;
}

.projects {
    display: flex;
    margin-top: 5vw;
    justify-content: space-between;
    gap: 5vw;
}

.projects h2 {
    margin: 2vw 0 2vw 0;
}

.latest {
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
    --project-bg: var(--clr-bg6);
    --project-hover-bg: var(--clr-bg3);
}

.project-info {
    background-color: var(--clr-bg3);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw;
    gap: 4vh;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 15px var(--clr-bg2);
    width: 40vw;
}

.project-info h1 {
    margin: 0;
    align-self: center;
    text-align: center;
    font-size: xxx-large;
}

.project-info p {
    margin: 0;
}

.project-title {
    display: flex;
    align-self: center;
    text-align: center;
    flex-direction: row;
    gap: 2vw;
}

.big-project-image {
    margin-right: 0px;
    max-width: 200px;
}

.mr-bg {
    --project-bg: #234d40;
    --project-hover-bg: #295446;
}

.cf-bg {
    --project-bg: #322e51;
    --project-hover-bg: #3b375b;
}

.download-color {
    color: #03ec8b;
}

#images {
    margin-top: 0;
}

#images h2 {
    text-align: center;
}

#imageGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    align-items: start;
    align-self: center;
    width: 90vw;
}

#imageGrid img {
    --project-bg: var(--clr-bg6);
    --project-hover-bg: var(--clr-bg3);
    background-color: var(--project-bg);
    border: 5px solid var(--clr-bg6);
    border-radius: var(--radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 200ms ease;
    max-width: 20vw;
    width: fit-content;
    flex-grow: 1;
}

/* Responsive Styles */
@media (max-width: 850px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .projects {
        flex-direction: column;
    }

    .project-info {
        width: 85vw;
        padding: 5vw;
        gap: 5vw;
        align-self: flex-start;
    }

    .big-project-image {
        margin-right: 0px;
        max-width: 30vw;
    }

    .project-info img {
        margin-left: 5vw;
    }

    .project-info div{
        margin-right: 5vw;
    }

    .project-info h1 {
        font-size: xx-large;
    }

    .project-title {
        gap: 4vw;
    }

    #imageGrid {
        gap: 1vh;
    }

    #imageGrid img {
        max-width: 80vw;
    }
}