:root {
    --clr-bg1: #29323d;
    --clr-bg2: #1e242c;
    --clr-bg3: #3f4956;
    --clr-bg4: #556776;
    --clr-bg5: #667b8d;
    --clr-bg6: #343f4e;
    --clr-bg7: #14181f;
    --clr-text: #e5f2fc;

    --radius: 1rem;

    --sidebar-margin: 29rem;

    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    color: var(--clr-text);
    background-color: var(--clr-bg1);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: var(--clr-text);
    text-decoration: none;
}

.link {
    transition: all 0.3s;
    border-bottom: 2px solid #00000000;
}

.link:hover {
    color: #36c66f;
    border-bottom: 2px solid #35956d;
}

.content-wrapper {
    flex: 1;
}

.header {
    background-color: var(--clr-bg7);;
    color: var(--clr-text);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    
    max-width: 1200px;
    margin: 0 auto;
}

.header .logo {
    max-height: 60px;
}

nav {
    display: flex;
    align-items: center;
}

.hamburger-nav {
    display: none;
}

.nav-links {
    list-style: none;
    margin: 0 20px;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: var(--clr-text);
    text-decoration: none;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger {
    display: block;
    width: 25px;
    height: 3px;
    background: var(--clr-text);
    position: relative;
}

.hamburger-middle {
    margin: 5px 0;
}

main {
    background-image: linear-gradient(var(--clr-bg2), var(--clr-bg1));
    flex: 1;
    padding-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    scroll-margin-top: 150px;
}

.container h2 {
    margin: 0;
}

section {
    margin: 20px 0;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
    gap: 40px;
    align-items: start;
    align-self: center;
    margin: 20px 0;
}

.project {
    --project-bg: var(--clr-bg6);
    --project-hover-bg: var(--clr-bg3);
    background-color: var(--project-bg);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 200ms ease;
    width: fit-content;
    flex-grow: 1;
}

.project:hover {
    background-color: var(--project-hover-bg);
    translate: 0 -10px;
    scale: 1.05;
    box-shadow: 0 0 70px var(--project-bg);
}

.project-content {
    display: flex;
}

.project-image {
    width: auto; /* Set width to auto */
    height: 100%; /* Set height to 100% to retain aspect ratio */
    max-width: 100px; /* Optional: limit the maximum width */
    margin-right: 20px; /* Add space between image and info */
    border-radius: var(--radius);
    align-self: center;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 20px;
    text-wrap: balance;
}

.project-info {
    align-self: center;
}

.project-content h3 {
    margin: 0; /* Remove default margin */
    align-self: center;
    letter-spacing: 1.3px;
}

.project-content p {
    margin: 0; /* Remove default margin */
    margin-top: 8px;
    align-self: center;
}

.ib-bg {
    --project-bg: #18413d;
    --project-hover-bg: #1e4c48;
}

.et-bg {
    --project-bg: #1d4350;
    --project-hover-bg: #234c59;
}

.tc-bg {
    --project-bg: #322e51;
    --project-hover-bg: #3b375b;
}

.seamless-bg {
    --project-bg: #473141;
    --project-hover-bg: #4e3748;
}

.sl-bg {
    --project-bg: #234d40;
    --project-hover-bg: #295446;
}

.cy-bg {
    --project-bg: #1D1D5A;
    --project-hover-bg: #2E3A73;
}

.dc {
    --project-bg: #433d74;
    --project-hover-bg: #4f4881;
    box-sizing: border-box;
    flex-grow: 0;
}

#discord {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.discord {
    display: flex;
    border-radius: var(--radius);
}

footer {
    background-color: var(--clr-bg2);
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
}

footer .social-links {
    display: flex;
    align-self: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Responsive Styles */
@media (max-width: 835px) {

    .hamburger-nav {
        display: flex;
        transition: rotate 0.5s;
        rotate: 0;
    }

    .hamburger-active {
        rotate: 180deg;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 30px 0 0 0;
        max-height: 100vh;
        transition: all 0.3s;
    }

    .nav-links .link:hover {
        color: var(--clr-text);
        border-bottom: #00000000;
    }

    .mobile-hidden {
        margin: 0;
        opacity: 0;
        max-height: 0;
    }
    
    .button-mobile-hidden {
        margin: 0;
        opacity: 0;
        max-height: 0;
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    .header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header .logo {
        max-height: 9vw; /* Adjust the logo size for mobile */
        margin: 0;
    }

    .project {
        width: 100%;
    }

    #discord {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        gap: 3vh;
    }

    .discord {
        align-self: center;
    }
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-bg7);
}

::-webkit-scrollbar-button {
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-bg4);
    border-radius: 10000px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-bg5);
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}
