:root {
    --clr-bg1: #29323d;
    --clr-bg2: #1e242c;
    --clr-text: #e5f2fc;

    --sidebar-margin: 29rem;

    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    color: var(--clr-text);
    background-color: var(--clr-bg1);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.3rem;

    margin: 0;
    display: flex;
}

#page-list {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#page-list > a {
    color: var(--clr-text);
    padding: 1rem;
    background-color: var(--clr-bg1);
    border-radius: 1rem;
    width: 15rem;
    font-size: 140%;
    text-decoration: none;
}

#page-list > a:hover {
    background-color: var(--clr-bg2);
}

#left-side {
    background-color: var(--clr-bg2);
    width: var(--sidebar-margin);
    height: 100vh;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    border-radius: 0 2rem 2rem 0;
}

#left-side-in {
    padding: 2rem;
}

#title {
    display: flex;
    white-space: nowrap;
}

#title > img {
    height: 5rem;
    margin: 1rem 0 0 1.5rem;
}

#right-side {
    margin-left: var(--sidebar-margin);
}

#right-side-in {
    padding: 0 2rem;
}

#right-side-in h1 {
    margin: 0;
    padding: 3rem 0;
}